{% extends "layout.html" %}

{% block heading %}
  {% if found %}
  {{book["title"]}}
  {% else %}
  Book Not Found
  {% endif %}
{% endblock %}

{% block body %}
  {% if found %}

  ISBN No. :- {{book["isbn"]}}<br>
  Title :- {{book["title"]}}<br>
  Author :- {{book["author"]}}<br>
  Year :- {{book["year"]}}<br>
  <hr>
  <br>Goodreads Reviews<br><br>
  Average rating :- {{goodreads_data['avg_ratings']}}<br>
  Number of reviews :- {{goodreads_data['ratings_count']}}<br>
  <br><hr>

  <br>User Reviews:-<br><br>

  {% if reviews|length < 1 %}
    No reviews for this book.
  {% endif %}

  {% for review in reviews %}

  Rating :- {{review["rating"]}}<br>
  {{review["review"]}}
  <br>
  Posted on :- {{review["posted_on"]}}  Posted By - {{review["user_name"]}}
  <br><br>

  {% endfor %}
  <br>
  <a href="{{url_for('reviews',bookid=book['id'])}}" class="btn btn-primary">Add review</a>
  {% else %}
  Wrong ISBN number or book is not present in the database.
  {% endif %}
{% endblock %}
