{% extends "layout.html" %}

{% block jsscripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/reviews.js')}}"></script>
{% endblock %}

{% block heading %}Add Review{% endblock %}

{% block body %}
  <form action="{{url_for('reviews')}}" method="post">
    <div class="form-group">
      <input type="text" name="review" placeholder="Enter review" class="form-control">
    </div>
    {% if bookidprovided %}
    <div class="form-group">
      <input type="text" name="bookid" value="{{book_id}}" class="form-control">
    </div>
    {% else %}
    <div class="form-group">
      <input type="text" name="bookid" placeholder="Enter book id" class="form-control">
    </div>
    {% endif %}
    <div class="form-group">
      <input type="range" min="1" max="5" value="3" name="rating" onchange="updateRatingSlider(this.value);" class="form-control">
      <input type="text" value="" id="ratingsValue" class="form-control">
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
